.cont-div {
    border: 2px solid green;
    max-width: 540px;
}

.cont-image {
  width: 500px;
}

.cont-ul ul {
  list-style: none;
  height: 280px;
  width: 600px;

  padding: 20px;
}

.cont-ul li {
  padding: 8px;
  font-size: 12px;
}

.megaDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

